@media screen and (max-width: 1024px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 960px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 10px;
    }
}

.App {
    display: flex;

    .navigation {
        position: fixed;
        width: 20%;
        margin-top: 3rem;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        height: 100%;

        .site-logo {
            text-align: center;
            font-size: 3em;
            margin-bottom: 3rem;
        }

        nav {

            ul {
                font-size: 1.3em;
                text-align: center;

                li {
                    margin-bottom: 1.5rem;
                }
            }
        }

        .contacts {
            margin-top: 3rem;

            ul {
                display: flex;
                text-align: center;

                li {
                    flex: 1 0 20px;
                }
            }
        }

        @media screen and (max-width: 1024px){
            position: static;
            flex-direction: row;
            width: initial;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 1rem;
            padding: 0 1.5rem;

            .site-logo {
                margin-bottom: 0;
            }

            .hamburger_label {
                display: block;
                margin-left: auto;
                font-size: 1.5em;

                .fa-bars {
                    margin-left: 0.5rem;
                }

                @media screen and (max-width: 400px){
                    span {
                        display: none;
                    }
                }
            }

            nav {
                position: absolute;
                top: 0; left: 0;
                opacity: 0;
            }
            
            .contacts {
                display: none;
            }
        }
    }

    .hamburger_label {
        display: none;
        cursor: pointer;
    }

    .hamburger_checkbox {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    @media screen and (max-width: 1024px){
        flex-direction: column;

        .hamburger_checkbox + .navigation nav {
            max-height: 200vh;
            animation: slideUp 0.3s ease-in;
            animation-fill-mode: both;
        }

        .hamburger_checkbox:checked + .navigation nav {
            position: static;
            opacity: 1;
            flex: 1 0 100%;
            max-height: 0;
            animation: slideDown 1s ease-in;
            overflow: hidden;
            animation-fill-mode: forwards;
            margin-top: 2rem;

            li:last-child {
                margin-bottom: 0;
            }
        }

        
    }
}

@keyframes slideDown {
    from {
       max-height: 0;
    }

    to {
        max-height: 200vh;
    }
}

@keyframes slideUp {
    from {
        max-height: 200vh;
     }
 
     to {
         max-height: 0;
     }
}